* {
  box-sizing: border-box;
}

html {
  --avatar-size: 240px;
}

body {
  background-color: #2bc1ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Verdana, Sans-serif;
  text-align: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  width: 440px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px gray;
  margin-top: 80px;
  font-size: small;
  font-weight: lighter;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 1em 1em;
}

.content-wrapper > div {
  color: gray;
}

.content-wrapper p {
  font-weight: 600;
  width: 80%;
  line-height: 20px;
}

.content-wrapper h2 {
  font-size: xx-large;
  font-weight: lighter;
  padding: 0 0 0.6em;
}

.user-card img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin: 0.7em 0 1.6em;
  padding: 10px;
  box-shadow: 0 1px 1px 1px #dcdcdb;
  object-fit: cover;
}

button {
  background-color: #65b4ff;
  color: white;
  border-color: #7cacd1;
  border-radius: 6px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: large;
  margin-top: 2em;
}

.statistics {
  background-color: #1f354c;
  color: #c1a2aa;
  display: flex;
  align-items: center;
}

.statistics > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1px;
  padding: 2em 1.5em 2em;
}

.statistics > div > div {
  display: flex;
  flex-direction: column;
}

.statistics i {
  font-size: 28px;
  padding-right: 8px;
}

.statistics div > p + p {
  color: white;
  padding-top: 2px;
}

.statistics > div:nth-child(1) {
  justify-content: flex-start;
}

.statistics > div:nth-child(2) {
  border: 2px solid #284157;
  border-top: none;
  border-bottom: none;
}

.statistics > div:nth-child(3) {
  justify-content: flex-end;
}
